 body {
      font-family: 'Inter', sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding:0;
    }

#container{
    border:1px solid black;
    border-radius:1rem;
    max-width:50%;
    margin-left: auto;
    margin-right:auto;
    margin-top:3rem;
}

.top-places{
  display:flex;
}

.left-position {
    padding:1.5rem 2rem;
    max-width:40rem;
    position: relative;
}

.left-position .content-message{
   background-color: black;
   padding:1.5rem;
   border-radius: 1.6rem;
   font-size: 1.2rem;
}

.left-position .content-message p{
    margin-top:-3px;
    color:white;
    line-height: 1.5rem;
}
.left-position .content-message span{
    color:white;
    margin-top:1rem;
}

.left-position .person-details{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top:1.2rem;
}

img{
    height:5rem;
    max-width:5rem;
    border-radius: 50%;
    border:1px solid #ccc;
}
.left-position .person-details .details{
    padding-left:1rem;
}
.person-details .details p{
    margin-top:-1rem;
}

.right-position{
    border:2px solid black;
    border-radius:1.6rem;
    margin:1.5rem 2rem;
    max-width: 23rem;
}

.right-position .content-message{
    padding:1rem;
    font-size: 1.2rem;
}

.right-position .content-message p{
    line-height: 1.5rem;
}

.right-position  img{
    height:5rem;
    max-width:5rem;
    border-radius: 50%;
    border:1px solid #ccc;
}

.right-position .person-details{
    display: flex;
    padding:0 0 1rem 1rem;

}
.right-position .person-details .details{
   padding-left:1rem;
}

.center-places{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    
}
.center-places img{
    max-width:19rem;
    height:17rem;
    border-radius: 1rem;
    margin-left: 2rem;
}
.center-places .center-content{
   background-color: black;
   max-width:30rem;
   margin: 0 2rem;
   border-radius: 1rem;
   color:white;
   position: relative;
   display: flex;
   flex-direction: column;
}
.center-places .center-content .rating{
    font-size: 1.3rem;
    display: flex;
    gap:0;
    position: absolute;
    margin:2rem 1.8rem;
}

.center-content .person-detail{
   margin:2.5rem 1.8rem 0;
}
.center-content .person-detail h2{
    font-size: 2rem;
}


.center-content .person-detail p{
    margin-top:-1rem;
    margin-left:0.3rem;
    opacity: 0.6;
    font-size: 1.2rem;
}

.center-content .content-message{
    margin:-0.8rem 1.8rem ;
    line-height: 1.5rem;
    margin-bottom:1rem;
    font-size: 1.2rem;
}

.bottom-places{
    margin:2rem ;
    border: 2px solid black;
    border-radius: 2rem;
}
.bottom-places .content-bottom{
    text-align: center;
    margin: 3rem auto 2rem;
    font-size: 1.2rem;
    max-width: 40rem;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carousel i{
    font-size: 1rem;
    cursor: pointer;
}

.list-members {
    margin-left: 0.3rem;
    margin-right: 2rem;
}

.list-members ul{
    display:flex;
    gap:1rem;
    list-style: none;
}
.list-members li.small img {
  width: 3rem;
  height: 3rem;
  opacity: 0.4;
}

.list-members li.active img {
  width: 4rem;
  height: 4rem;
  opacity: 1;
  border: 1px solid #ccc;
  margin-top:-0.8rem;
}

.name {
    text-align: center;
    font-size: 1.2rem;
    margin-top: -1.2rem;
    padding-bottom:1rem;
}